mixin employeeForm(url, employee, jobtitles, stateslist)

    form.employee-form(action=url method='post')
        div.name-row
            div.first
                label(for = 'first_name') First Name:
                input(id = 'first_name' name = 'first_name' type = 'text' value = employee.first_name)
            div.last
                label(for = 'last_name') Last Name:
                input(id = 'last_name' name = 'last_name' type = 'text' value = employee.last_name)

        label(for = 'job_title') Job Title:
        select(id = 'job_title' name = 'job_title')
            each title in jobtitles
                option(value = title selected = employee.job_title === title) #{title}

        div.address
            div.streetline
                div.streetline1
                    label(for = 'address_one') Address One:
                    input(id = 'address_one' name = 'address_one' type = 'text' value = employee.address_one)

                div.streetline2
                    label(for = 'address_two') Address Two:
                    input(id = 'address_two' name = 'address_two' type = 'text' value = employee.address_two)
            div.territory
                div.city
                    label(for = 'city') City:
                    input(id = 'city' name = 'city' type = 'text' value = employee.city)

                div.state
                    label(for = 'state') State:
                    select(id = 'state' name = 'state')
                        each state in stateslist
                            option(value = state selected = employee.state === state) #{state}

                div.zip
                    label(for = 'zip') Address One:
                    input(id = 'zip' name = 'zip' type = 'number' value = employee.zip)

        div.personal-info-row
            div.phone
                label(for = 'phone_number') Phone Number:
                input(id = 'phone_number' name = 'phone_number' type = 'number' value = employee.phone_number)

            div.year
                label(for = 'yearhired') Year Hired:
                input(id = 'yearhired' name = 'yearhired' type = 'number' value = employee.year_hired)

        div.form-buttons
            a.button.cancel(href = '/') Cancel
            if employee.id
                a.button.delete(href = `/delete/${employee.id}`) Delete Employee
            button.button.submit(type = 'submit') Submit